@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './variables';

*{
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  @media all and (min-width: $tablet) {
    margin: 0 auto;
  }

  .tabs_list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &[data-selected="settings"] {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .tab {
      padding: 4px 10px;
      border-right: solid 1px black;
      cursor: pointer;
      text-transform: capitalize;

      &:last-child {
        border-right: none;
      }

      &.selected {
        background: rgba(100, 100, 100, .5);
      }
    }
  }
}
