@import './variables';

.deck.pane {
  position: relative;
  max-height: 490px;
  min-height: 490px;
  overflow: hidden;

  .empty h3 {
    text-align: center;
  }

  .control {
    position: absolute;
    top: 50%;
    z-index: 200;
    padding: 10px;

    @media all and (max-width: $tablet) {
      display: none;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}
